<table class="table table-bordered table-striped mt-4">
    <thead class="thead-dark">
        <tr>
            <th>PlayerId</th>
            <th>PlayerName</th>
            <th>Jersey Number</th>
            <th>Role</th>
            <th>Total Matches</th>
            <th>Team Name</th>
            <th>Country</th>
            <th>Description</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let player of players">
            <td>{{player.playerId}}</td>
            <td>{{player.playerName}}</td>
            <td>{{player.jerseyNumber}}</td>
            <td>{{player.role}}</td>
            <td>{{player.totalMatches}}</td>
            <td>{{player.teamName}}</td>
            <td>{{player.country}}</td>
            <td>{{player.description}}</td>
        </tr>
       
    </tbody>
</table>
